.alert.success {
  color: var(--success-text);
  background-color: var(--success-back);
  border: 1px solid var(--success-border);
}
.alert.error {
  color: var(--error-text);
  background-color: var(--error-back);
  border: 1px solid var(--error-border);
}
