@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark_pruple: 6c27ea;

  --light_purple: a467f1;

  --extra_light_purple: c293eb;

  --black: 080212;

  --white: f8f4fc;

  --extra_dark_purple: 3a1d5c;

  --dark_pink: 873776;

  --success-text: #0f5132;
  --success-back: #d1e7dd;
  --success-border: #badbcc;
  --error-text: #842029;
  --error-back: #f8d7da;
  --error-border: #f5c2c7;
}

.menu-icons {
  margin-right: 1.4rem;
  font-size: 1.4rem;
}

.prof-shadow {
  box-shadow: 0 0 4rem rgba(255, 255, 255, 0.4);
}

.top-art:hover {
  @apply bg-light_purple;
}

.top-art:hover h5,.top-art:hover h4,.top-art:hover p {
  @apply text-white transition-all;
}

.top-art-image {
  border-radius: 1.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}
